
<h1>About </h1>
<p>
	<%= link_to "Instagap","http://www.instagap.com" %> is a project built  to guide  the application of the 
	<%= link_to "globalGAP ","http://www.globalgap.org" %> strandard .
</p>
	

