<h1>Welcome to instagap !</h1>
<p>You've found the home page  for the
	<%=link_to "instagap","http://www.globalgap.org"%> application</p>
<p>
	<%= link_to "Sign Up,Now!","#" %>
</p>
<div class="footer">
	<small>by
		<%= link_to "siteblue","http://www.siteblue.com"%>
	</small>

	</div>